/* src/assets/styles/base/_fonts.scss  */

/*
  Quicksand
*/

@font-face {
  font-family: 'Quicksand';
  font-weight: 700;
  src: url('@~fonts/Quicksand-Bold.woff');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 500;
  src: url('@~fonts/Quicksand-Medium.woff');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 400;
  src: url('@~fonts/Quicksand-Regular.woff');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 300;
  src: url('@~fonts/Quicksand-Light.woff');
}

$quicksand: 'Quicksand', sans-serif;
