{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src",
          "styles": "./src/assets/styles",
          "images": "./src/assets/images",
          "videos": "./src/assets/videos",
          "scripts": "./src/assets/scripts"
        }
      }
    ]
  ]
}
