extends ../layouts/master.pug

block title
  title My Page - Blog

block basicSeo
  meta(name='description' content='Blog page')
  meta(name='keywords', content='blog, page')
  meta(name='author' content='')

block manifestBrowserconfigFiles
  link(rel='manifest', href='../manifest.json')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  // Menu
  +menu('blog')

  //- BLog page
  section.page.blog__page
    h1.page__title # Blog page

