extends ../layouts/master.pug

append styles
  link(rel='stylesheet' href=require('source/assets/styles/pages/contact.scss'))

append scripts
  script(src=require('source/assets/scripts/pages/contact.js'))

block title
  title My Page - Contact

block basicSeo
  meta(name='description' content='Contact page')
  meta(name='keywords', content='contact, page')
  meta(name='author' content='')

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  // Menu
  +menu('contact')

  //- Contact page
  section.page.contact__page
    h1.page__title # Contact page
