extends ./layouts/master.pug

block title
  title My Page - Home

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  // Menu
  +menu('home')

  //- Index page
  section.page.home__page
    h1.page__title # Index page
