extends ./layouts/master.pug

append styles
  link(rel='stylesheet' href=require('source/assets/styles/pages/index.scss'))

append scripts
  script(src=require('source/assets/scripts/pages/index.js'))

block title
  title My Page - Home

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  // Menu
  +menu('home')

  //- Index page
  section.page.home__page
    h1.page__title # Index page
