/* src/assets/styles/layout/_page.scss  */

.page {
  flex: 1;
  max-width: 400px;
  background: $lightseagreen;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 0 1px rgba(white, 0.25), 20px 20px 0 1px rgba(white, 0.15);
  p {
    margin-top: 20px;
  }
}
.page__title {
  margin: 0;
}

/*
  Responsive
*/
@media screen and(max-width: $grid-width) {

}
