extends ../../layouts/master.pug

block title
  title My Page - Blog post

block basicSeo
  meta(name='description' content='Blog postpage')
  meta(name='keywords', content='blog, page, post')
  meta(name='author' content='')

block manifestBrowserconfigFiles
  link(href='../../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../../browserconfig.xml')

block content

  // Menu
  +menu('blog-post')

  //- BLog post page
  section.page.blogpost__page
    h1.page__title # Blog post page
