//- src/views/components/footer.pug

footer.footer
  p By #[a(href='https://edgardorl.com') Edgardo], Repo #[a(href='https://github.com/SoldierCorp/webpack-starter-pug-sass-es6-jquery') GitHub], Support 🧡 #[a(href='https://github.com/sponsors/SoldierCorp') Donate]
